[user]
        email = XXX
        name = Nicolas COCHIN
[color]
        ui = true
[pull]
        rebase = true
[help]
        autocorrect = 1
[diff]
        tool = diffmerge
[difftool "diffmerge"]
        cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
        tool = diffmerge
[mergetool "diffmerge"]
        cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
        trustExitCode = true
[mergetool]
        keepBackup = false
[core]
        editor = vim        
